/* layouts/app.css */
:root {
    --bg-color-body: #f8f9fa;
    --bg-color-navbar: #9a90f5;
    --bg-color-card-header: #007bff;
    --bg-color-btn-primary: #007bff;
    --bg-color-btn-primary-hover: #0056b3;
    --bg-color-btn-warning: #ffc107;
    --bg-color-btn-danger: #dc3545;
    --bg-color-btn-danger-hover: #c82333;
    --color-card-header-text: #ffffff;
    --border-color-card-header: #007bff;
    --border-color-btn-primary: #007bff;
    --border-color-btn-primary-hover: #0056b3;
    --border-color-btn-warning: #ffc107;
    --border-color-btn-danger: #dc3545;
    --border-color-btn-danger-hover: #bd2130;
}

body {
    font-family: Arial, sans-serif;
    background-color:  #bd2130;
}


.navbar-container {
    margin-bottom: 20px;
    padding: 10px;
    background-color: var(--bg-color-navbar);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.navbar {
    margin-bottom: 0;
}

.card {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.card-header {
    background-color: var(--bg-color-card-header);
    color: var(--color-card-header-text);
    border-bottom: 1px solid var(--border-color-card-header);
    border-radius: 5px 5px 0 0;
}

.card-body {
    padding: 20px;
    background-color: var(--bg-color-card-body)
}

.table {
    margin-bottom: 0;
}

.btn-primary {
    background-color: var(--bg-color-btn-primary);
    border-color: var(--border-color-btn-primary);
}

.btn-primary:hover {
    background-color: var(--bg-color-btn-primary-hover);
    border-color: var(--border-color-btn-primary-hover);
}

.btn-danger {
    background-color: var(--bg-color-btn-danger);
    border-color: var(--border-color-btn-danger);
}

.btn-danger:hover {
    background-color: var(--bg-color-btn-danger-hover);
    border-color: var(--border-color-btn-danger-hover);
}


/* Sidebar Styles */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 250px;
    padding-top: 3.5rem; 
    background-color: #343a40;
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 56px);
    padding-top: 20px;
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar .nav-link {
    color: #adb5bd;
    padding: 10px 20px;
    transition: color 0.2s;
}

.sidebar .nav-link:hover {
    color: #ffffff;
    background-color: #212529;
}

.sidebar .nav-link.active {
    color: #ffffff;
    background-color: #007bff;
}

.sidebar .nav-item {
    margin-bottom: 0.5rem;
}

.main-content {
    margin-left: 250px;
    padding: 20px;
}
